* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.calc-buttons {
  width: 1000px;
  margin: 2rem;

  display: grid;
  /* grid-template-columns: 25% 25% 25% 25%; */

  /* fr (fractional unit) is better */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */

  grid-template-columns: repeat(4, 1fr);

  /* 
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem; 
  */

  grid-gap: 0.75rem;

  /* Sets the height for each row */
  grid-auto-rows: 75px;

  /* 
  Below line sets the minumum height to 100px and scales up if content inside is larger than 100px

  grid-auto-rows: minmax(100px, auto);
  */
}

.button {
  padding: 1rem;

  background: lightcoral;
}

.two-grid-button1 {
  grid-column-start: 1;
  grid-column-end: 3;
  background: yellow;
}

.two-grid-button2 {
  grid-column-start: 3;
  grid-column-end: 5;
  background: rgb(77, 138, 75);
}

.attribution {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
