* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

.calc-root {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;

  transition: background 0.6s;
}

.calc-root-theme1 {
  background: hsl(222, 26%, 31%);
}

.calc-root-theme2 {
  background: hsl(0, 0%, 90%);
}

.calc-root-theme3 {
  background: hsl(268, 75%, 9%);
}

.react-info-div {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  left: 0rem;
  top: 0rem;

  padding: 1rem 1rem;

  align-items: center;
  border-radius: 0px 0rem 6rem 0rem;
  transition: background 0.6s, color 0.3s, box-shadow 0.3s;
}

.react-info-div-theme1 {
  box-shadow: 0 0.5rem hsl(217, 53%, 13%);
}
.react-info-div-theme2 {
  box-shadow: 0 0.5rem hsl(30, 3%, 71%);
}
.react-info-div-theme3 {
  box-shadow: 0 0.5rem hsl(290, 70%, 36%);
}

.react-info-div img {
  cursor: pointer;
}

.react-info-div h4 {
  position: relative;
  font-size: 1.5rem;
  padding-right: 3rem;
  top: 0.1rem;
}

.calculator-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;

  max-width: calc(100% - 5rem);
}

.header-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#app-name {
  font-size: 3rem;

  transition: color 0.3s;
}

.theme-selector {
  /* background: rgb(163, 84, 84); */
  display: flex;
  flex-direction: row;
}

.theme-selector .theme-text {
  align-self: flex-end;
  transform: translateY(-4px);
  margin: 0rem 1.25rem;

  transition: color 0.3s;
}

.selector-container {
  /* background: rgb(133, 133, 133); */
  width: 7.5rem;

  display: flex;
  flex-direction: column;
}

.numbers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin: 0.25rem 0;

  transition: color 0.3s;
}

.selector {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 2.25rem;
  background: hsl(223, 31%, 20%);
  border-radius: 2rem;

  cursor: pointer;
}

.theme-selection {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 1rem;
}

.theme-selection1 {
  background: hsl(6, 63%, 50%);
}

.theme-selection2 {
  background: hsl(25, 98%, 40%);
}

.theme-selection3 {
  background: hsl(176, 100%, 44%);
}

.calc-display {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  margin: 2rem 0rem;
  border-radius: 0.75rem;

  width: 100%;
  height: 10rem;

  transition: background 0.6s;
}

.calc-display-theme1 {
  background: hsl(224, 36%, 15%);
}
.calc-display-theme2 {
  background: hsl(0, 0%, 93%);
}
.calc-display-theme3 {
  background: hsl(268, 71%, 12%);
}

#display {
  width: 100%;

  text-align: right;

  margin: 2.5rem;

  font-size: 3.5rem;

  transform: translateY(4px);

  transition: color 0.3s;
}

.normal-text-theme1 {
  color: rgb(255, 255, 255);
}
.normal-btn-text-theme1 {
  color: hsl(221, 14%, 31%);
}
.normal-text-theme2 {
  color: hsl(60, 10%, 19%);
}
.normal-text-theme3 {
  color: hsl(52, 100%, 62%);
}

.calc-buttons {
  max-width: 45rem;
  padding: 1.5rem;

  border-radius: 0.75rem;

  display: grid;
  /* grid-template-columns: 25% 25% 25% 25%; */

  /* fr (fractional unit) is better */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */

  grid-template-columns: repeat(4, 1fr);

  /* 
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem; 
  */

  grid-gap: 1.5rem;

  /* Sets the height for each row */
  grid-auto-rows: 70px;

  /* 
  Below line sets the minimum height to 100px and scales up if content inside is larger than 100px

  grid-auto-rows: minmax(100px, auto);
  */

  transition: background 0.6s;
}

.calc-buttons-theme1 {
  background: hsl(223, 31%, 20%);
}
.calc-buttons-theme2 {
  background: hsl(0, 5%, 81%);
}
.calc-buttons-theme3 {
  background: hsl(268, 71%, 12%);
}

.button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  /* margin: 0.5rem; */
  border-radius: 0.5rem;

  transition: transform 0.2s, box-shadow 0.2s, background 0.3s, color 0.5s;
}

/* Btn Theme 1 */

.btn-theme1 {
  background: hsl(30, 25%, 89%);
  box-shadow: 0 0.5rem hsl(28, 16%, 65%);
  /*
    offset-x | offset-y | color 
    box-shadow: 60px -16px teal;
  */
}

.btn-theme1:hover {
  box-shadow: 0 0rem hsl(28, 16%, 65%);
  transform: translateY(0.5rem);
}

.dif-color-theme1-key1 {
  color: white;
  background: hsl(225, 21%, 49%);
  box-shadow: 0 0.5rem hsl(224, 28%, 35%);
}

.dif-color-theme1-key1:hover {
  box-shadow: 0 0 hsl(224, 28%, 35%);
  transform: translateY(0.5rem);
}

.dif-color-theme1-key2 {
  color: white;
  background: hsl(6, 63%, 50%);
  box-shadow: 0 0.5rem hsl(6, 70%, 34%);
}

.dif-color-theme1-key2:hover {
  box-shadow: 0 0rem hsl(6, 70%, 34%);
  transform: translateY(0.5rem);
}

.button p {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  transform: translateY(4px);
}

/* Btn Theme 2 */

.btn-theme2 {
  background: hsl(45, 7%, 89%);
  box-shadow: 0 0.5rem hsl(35, 11%, 61%);
}

.btn-theme2:hover {
  box-shadow: 0 0rem hsl(35, 11%, 61%);
  transform: translateY(0.5rem);
}

.dif-color-theme2-key1 {
  color: white;
  background: hsl(185, 42%, 37%);
  box-shadow: 0 0.5rem hsl(185, 58%, 25%);
}

.dif-color-theme2-key1:hover {
  box-shadow: 0 0 hsl(185, 58%, 25%);
  transform: translateY(0.5rem);
}

.dif-color-theme2-key2 {
  color: white;
  background: hsl(25, 98%, 40%);
  box-shadow: 0 0.5rem hsl(25, 99%, 27%);
}

.dif-color-theme2-key2:hover {
  box-shadow: 0 0rem hsl(25, 99%, 27%);
  transform: translateY(0.5rem);
}

/* Btn Theme 3 */

.btn-theme3 {
  color: hsl(52, 100%, 62%);
  background: hsl(268, 47%, 21%);
  box-shadow: 0 0.5rem hsl(290, 70%, 36%);
}

.btn-theme3:hover {
  box-shadow: 0 0rem hsl(290, 70%, 36%);
  transform: translateY(0.5rem);
}

.dif-color-theme3-key1 {
  color: white;
  background: hsl(281, 89%, 26%);
  box-shadow: 0 0.5rem hsl(285, 91%, 52%);
}

.dif-color-theme3-key1:hover {
  box-shadow: 0 0 hsl(285, 91%, 52%);
  transform: translateY(0.5rem);
}

.dif-color-theme3-key2 {
  color: hsl(198, 20%, 13%);
  background: hsl(176, 100%, 44%);
  box-shadow: 0 0.5rem hsl(177, 92%, 70%);
}

.dif-color-theme3-key2:hover {
  box-shadow: 0 0rem hsl(177, 92%, 70%);
  transform: translateY(0.5rem);
}

.button p {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  transform: translateY(4px);
}

.two-grid-button1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.two-grid-button2 {
  grid-column-start: 3;
  grid-column-end: 5;
}

.attribution {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.attribution p {
  color: aliceblue;
  font-size: 1.2rem;
}

a {
  color: aqua;
}

@media screen and (max-width: 460px) {
  .react-info-div {
    padding: 0.25rem;

    align-items: center;
    border-radius: 0px 0rem 3rem 0rem;
    transition: background 0.6s, color 0.3s, box-shadow 0.3s;
  }

  .react-info-div h4 {
    font-size: 1rem;
  }

  .react-info-div img {
    width: 4.7rem;
    height: 4rem;
  }

  .calc-buttons {
    max-width: 45em;
    padding: 1.5rem;

    border-radius: 0.75rem;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    grid-gap: 1.5rem;

    /* Sets the height for each row */
    grid-auto-rows: 50px;

    grid-auto-columns: 50px;
  }

  .button p {
    font-size: 2rem;
  }

  .attribution p {
    font-size: 1rem;
  }
}
